.download-report {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: rgba($color: #000000, $alpha: 0);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    &.show {
        visibility: visible;
        background: rgba($color: #000000, $alpha: 0.7);
        opacity: 1;
        .modal-content {
            transform: scale(1);
        }
    }
    .modal-content {
        max-width: 510px;
        width: 100%;
        max-height: calc(100% - 100px);
        background: #fff;
        position: relative;
        border-radius: 20px;
        padding: 40px;
        transform: scale(0.9);
        transition: 0.3s;
        .close-btn {
            position: absolute;
            top: -20px;
            right: -20px;
        }
        .download-report__form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
.MuiDayCalendar-slideTransition {
    min-height: 230px !important;
    min-width: 318px !important;
    height: fit-content;
}
.MuiDayCalendar-monthContainer {
    height: fit-content;
}
.MuiDateRangeCalendar-root > div {
    &:first-child {
        display: none;
    }
}
.MuiPickersLayout-landscape {
    max-width: 350px;
    .MuiDateRangeCalendar-monthContainer {
        width: 100%;
    }
    .css-ljamgv-MuiPickersLayout-root {
        width: 350px;
    }
}
.MuiDayCalendar-root {
    padding: 0 16px 16px;
}
.MuiPickersCalendarHeader-root .MuiPickersCalendarHeader-labelContainer {
    text-transform: capitalize;
}

.MuiDayCalendar-header {
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(7, 1fr) !important;
    span {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        color: #fff;
    }
}
legend {
    display: none !important;
}
.MuiDayCalendar-weekContainer {
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 8px !important;
}
.MuiDateRangePickerDay-rangeIntervalPreview {
    height: 30px;
}

.css-f8wito-MuiDateRangePickerDay-root,
.css-1jt0kfk-MuiDateRangePickerDay-root {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.05) !important;
    background: rgba(0, 204, 94, 0.3) !important;
    justify-content: start !important;
    justify-content: end !important;
    .MuiDateRangePickerDay-rangeIntervalPreview {
        justify-content: end !important;
    }
    button {
        background: linear-gradient(90deg, #00cc5e 0%, #00b2ff 100%);
    }
}
.MuiDateRangePickerDay-rangeIntervalDayHighlightStart {
    .MuiDateRangePickerDay-rangeIntervalPreview {
        justify-content: start !important;
    }
}
.MuiButtonBase-root {
    height: 30px !important;
    width: 30px !important;
    transform: scale(1) !important;
    font-family: var(--font-family) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #fff !important;
}
.css-1ny3jyh-MuiDateRangePickerDay-root:last-of-type {
    border-radius: 0 15px 15px 0 !important;
}
.css-1ny3jyh-MuiDateRangePickerDay-root:first-of-type {
    border-radius: 15px 0 0 15px !important;
}
.MuiDateRangePickerDay-rangeIntervalPreview {
    border: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
    .Mui-selected {
        background: linear-gradient(90deg, #00cc5e 0%, #00b2ff 100%);
    }
}
.css-1ny3jyh-MuiDateRangePickerDay-root {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.05) !important;
    background-color: rgba(0, 204, 94, 0.3) !important;
}
