#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  div.dark-back {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #000000c9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }
  
  form.auth-block {
    overflow-x: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 3;
    max-height: 70vh;
    padding: 3.5vw 0.5vw;
    border-radius: 1.2vw;
  }
  
  div.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    margin: 0 ;
  }
  button.label-element {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    color: #ffffff;
    background-color: transparent;
    border-radius: 100vw;
    width: 4vh;
    padding: 0;
    height: 4vh;
    transition: 200ms ease-in-out;
  }
  button.label-element:focus {
    border: none;
    outline: none;
  }
  button.label-element:hover {
    background-color: #ffffff;
    border-radius: 100vw;
    color: #000000;
  }
  p.label-element {
    font-size: 3vh;
    font-weight: 500;
    margin: 0.5vh 0;
    color: #ffffff;
  
  }
  
  
  div.data-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: baseline;
    flex-shrink: 3;
  
    padding: 0 2vw;
  
    width: auto;
  }
  p.label {
    font-size: 2vh;
    font-weight: 500;
    margin: 0.5vw 0 0 0;
    margin-bottom: 1vh;
  }
  input.input {
    flex-grow: 1;
    position: relative;
    margin: 0.7vw 0;
    width: 25vw;
    height: 2vw;
    background-color: #ffffff;
    border: solid 0.1vh #605f5f96;
    border-radius: 0.4vw;
    font-size: 1.7vh;
    /* margin-top: 0; */
    color: #000000;
    padding-left: 0.7vw;
  }
  input.input:focus {
    outline: none;
    transition: 500ms ease-in-out;
  }
  
  button#sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    opacity: 0.6;
    width: 25vw;
    height: 6vh;
  
    padding: 1vh 3vw;
    margin: 2vh 0 1vh 0;
  
    border-radius: 1.5vw;
    border: none;
    font-size: 2.4vh;
    font-weight: 500;
  
    background: linear-gradient(90deg, #01cb19, #0096e1);
    transition: 500ms ease-in-out;
  }
  button#sign-in:hover {
    filter: contrast(3);
  }
  
  div#reg-label {
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 0.5vh 0 0 0;
    font-size: 2vh;
    font-weight: 400;
    width: 100%;
    padding-left: 5vw;
  }
  div#reg-label>a {
    margin-left: 0.4vw;
  }



  
  .input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .eye-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    color: black;
    padding: 2vh;
  }

  .input-wrapper svg{
    width: 2.5vh;
    height: 2.5vh;
  }
  